[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
detox = "*"
mypy = "*"
pydocstyle = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
tox = "*"
tox-pipenv = "*"
twine = "*"
black = "*"
typing-extensions = "*"
sphinx = "*"
autoapi = "*"
sphinx-rtd-theme = "*"
m2r2 = "*"
sphinx-autoapi = "*"
sphinx-copybutton = "*"
bandit = "*"

[packages]
aiohttp = "*"
backoff = "*"
beautifulsoup4 = "*"
wrapt = "*"
authcaptureproxy = "~=0.6.0"

[pipenv]
allow_prereleases = true
